html {
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 60px;
    background: #f0f9f7;
}
.about_company{
    margin-top: 30px;
}
.friends_wrapper{
    margin-top: 20px;
}
.ava_friend{
    width: 40px;
    height: 40px;
}
.img-responsive{
    border-radius: 15px;
}
.bas-well{
    margin-top: 20px;
    padding-top: 10px;
    background: #ffffff;
    border-radius: 10px;
}
.content{
    margin-top: 35px;
}
.content-well{
    margin-top: 10px;
    border-radius: 10px;
}

.main{
	width: 100%;
	background: #3990dc;
}
div.info1 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.info1 >div{
    margin-top: 10px;
}

.reg_head_btn{
    width: 100%;
    margin-top: 2px;
}


.login_head_btn{
    width: 100%;
    margin-top: 2px;
}
.exit_head_btn{
    width: 100%;
    margin-top: 2px;
}

.header_logo {
    background: url(/img/amblem.png) no-repeat;
    background-size: 50px;
    width: 50px;
    height: 47px;

}
.well-my-foto{
    margin-top: 20px;
    background: #ffffff;
}
.well-my-foto-in{
    margin: 5px;
}

.my-foto{
    height: 140px;
    width: 140px;

}
.nav_btn{
    list-style-type: none;
}

.info h1{
	color: red;
	padding-top: 3%;
    text-align: center;
}
.info p{
    color: #000000;
}


.systemFieldText {
    font-size: 16px;
}
.registration_wrapper {
    margin-top: 35px;
	width: 100%;
	text-align: center;
}

.registration {

    width: 300px;
    display: inline-block;
    text-align: left;
}
.post_author{
    line-height: 16px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post_image_well{
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin-left: 10px;

}
.systemBtn {
	width: 100%;
}
.nav-well{
    padding: 20px 10px 10px 10px;
    background: #ffffff;
    border-radius: 10px;
}
.nav-well li{
    list-style-type: none;
    color: #000000;
}

.user_menu li {
	list-style-type: none;
	width: 100%;
}

.user_menu_text {
	margin-left: 5px;
	display: inline-block;
}

.user_menu_link {
	width: 100%;
	display: inline-block;
}
.post_author{
    padding-left: 10px;
}
.post_text{
    padding: 15px;

}
.post_data{
    padding-left: 10px;
}
.pets_avatars_wrapper {
    position: absolute;
   /* bottom: 0;*/
  margin-bottom: 60px;
    right: 27px;
}

.pet_avatar_wrapper {
    display: inline;
}

.pet_avatar {
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-size: cover;
    margin-right: -10px;

}

.name_master{
    text-align: center;
}
.name-friends{
    margin-top: 2px;
    margin-bottom: 10px;
}
.foto_friends_well{
    margin-top: 15px;
    background: #ffffff;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}
.foto_friends{
    width: 35px;
    height: 35px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #3990dc;
  text-align: center;
}

.footer_link{
	margin-right: 5px;
    color: white;
}

